.container {
  margin: 20px auto;
  margin-top: 80px;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0.7, 0.7);
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f9f9f9;
}

.mod-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 20px 0;
  gap: 10px;
}

.mod-btn button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.mod-btn button:hover {
  background-color: #0056b3;
}

.del-booking:hover {
  opacity: 0.8;
}
