<div class="price-plans-container">
  <div class="pricing-container">
    <h2>Pricing</h2>
    <table class="pricing-table">
      <thead>
        <tr>
          <th>Duration</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>30 mins</td>
          <td>$2</td>
        </tr>
        <tr>
          <td>1 hr</td>
          <td>$4</td>
        </tr>
        <tr>
          <td>9 hrs</td>
          <td>$30</td>
        </tr>
        <tr>
          <td>24 hrs</td>
          <td>$70</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
